<div *ngIf="message" class="modal-backdrop">
 <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Status Message</h2>
      <button type="button" class="close-button" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{message}}</p>
    </div>
    <div class="modal-footer">
      <button (click)="closeModal()" class="btn btn-secondary">Close</button>
    </div>
  </div>
</div>