<div class="container">
  <div class="container shadow position-absolute top-50 start-50 translate-middle w-50 p-4 rounded-4">
    <h2 class="text-center mb-3">Registration</h2>
    <form (ngSubmit)="createUser()" class="justify-content-center" #registerForm="ngForm">
      <div class="form-group mb-2 fw-semibold">
        <label for="username" class="mb-2">Username:</label>
        <input
          type="text"
          placeholder="username"
          class="form-control px-2 py-1"
          [ngClass]="{'is-invalid': usernameInput.invalid && (usernameInput.dirty || usernameInput.touched), 'is-valid': usernameInput.valid && (usernameInput.dirty || usernameInput.touched)}"
          id="username"
          name="username"
          [(ngModel)]="newUser.username"
          required
          minlength="3"
          maxlength="50"
          #usernameInput="ngModel"
        >
        <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="invalid-feedback" >
          <div *ngIf="usernameInput.errors?.['required']">
            Username is required.
          </div>
          <div *ngIf="usernameInput.errors?.['minlength']">
            Username must be at least 3 characters long.
          </div>
          <div *ngIf="usernameInput.errors?.['maxlength']">
            Username cannot exceed 50 characters.
          </div>
        </div>
      </div>

      <div class="form-group mb-4 fw-semibold">
        <label for="password" class="mb-2">Password:</label>
        <input
          type="password"
          placeholder="**********"
          class="form-control px-2 py-1"
          [ngClass]="{'is-invalid': passwordInput.invalid && (passwordInput.dirty || passwordInput.touched), 'is-valid': passwordInput.valid && (passwordInput.dirty || passwordInput.touched)}"
          id="password"
          name="password"
          [(ngModel)]="newUser.password"
          required
          minlength="6"
          maxlength="24"
          #passwordInput="ngModel"
        >
        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="invalid-feedback">
          <div *ngIf="passwordInput.errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="passwordInput.errors?.['minlength']">
            Password must be at least 6 characters long.
          </div>
          <div *ngIf="passwordInput.errors?.['maxlength']">
            Password cannot exceed 24 characters.
          </div>
        </div>
      </div>

      <div class="form-group text-center mt-5">
        <button type="submit" class="btn btn-success rounded-4" [disabled]="registerForm.invalid">Register</button>
      </div>
    </form>

    <div class="mt-3 text-center">
      Already an User? <a routerLink="/login">Login Here</a>
    </div>
  </div>
  <app-message [message]="message" (closed)="message = null"></app-message>
</div>